@import '../../../../../assets/styles/variables';

.search-keyword {
  margin-bottom: 2rem;
}

.icons-list-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 20rem);

  .icons-list {
    margin: 0 -0.5rem;

    .icon-item {
      width: 33.33%;
      padding: 0 0.5rem 0.5rem;

      @include w1300 {
        width: 25%;
      }
    }
  }
}
